{{/*
  Pager under a list: "1-50 of 120" on the left, previous / "1 / 3" / next on
  the right. adminkit.filterRows and adminkit.pager fill it in.

    <div class="card-footer">{{template "pager" dict "id" "keys-pager"}}</div>

  "id" names the pager for those calls.
*/}}
{{define "pager"}}
<div class="ak-pager" id="{{.id}}">
  <span class="text-secondary ak-num" data-ak-pager-info></span>
  <div class="ak-pagebtns">
    <button type="button" class="ak-pagebtn" data-ak-pager-prev title="Previous page" aria-label="Previous page">{{icon "chevron-left"}}</button>
    <span class="ak-pager-page ak-num" data-ak-pager-page></span>
    <button type="button" class="ak-pagebtn" data-ak-pager-next title="Next page" aria-label="Next page">{{icon "chevron-right"}}</button>
  </div>
</div>
{{end}}
